@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #1c3a40;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f3f3f3;
    --foreground: #ededed;
  }
}

body {
  /* color: var(--foreground); */
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.ask-me {background: url(/chrome.png) no-repeat center bottom;
    height: 324px;
    width: 100%;
    background-size: 100% 100%;
    float: right;
    margin-top: 40px;
    padding: 115px 70px;
}
